$primary: #98297B;
$secondary: #818DD3;
$green: #26A243;

$background: #F8F8FF;
$header-font: 'Poppins', 'Arial', sans-serif;
// $body-font: 'Brandon Grotesque','Arial', sans-serif;
$body-font: 'Poppins', 'Arial', sans-serif;

$dark: #323F48;
$yellow: #DFB036;
$teal: #25B4B1;
$light: #EAEBEC;

.primary{
    color: $primary;
}
.primary-bg{
    background-color: $primary;
}
.secondary{
    color: $secondary;
}
.secondary-bg{
    background-color: $secondary;
}
.green{
    color: $green;
}
.green-bg{
    background-color: $green;
}

h1, h2 {
    font-weight: 700;
    color: black;
}

p{
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: black;
}
