$primary: #323F48;
$secondary: #DFB036;
$tertiary: #25B4B1;

$background: #F8F8FF;
// $header-font: 'Poppins', 'Arial', sans-serif;
$body-font: 'Brandon Grotesque', 'brandon-grotesque', 'Arial', sans-serif;

$dark: #323F48;
$yellow: #DFB036;
$teal: #25B4B1;
$light: #EAEBEC;

input {
    border-radius: 6px;
}
.primary {
    color: $primary;
}

.primary-bg {
    background-color: $primary;
}

.secondary {
    color: $secondary;
}

.secondary-bg {
    background-color: $secondary;
}


h1,
h2 {
    font-weight: 700;
    color: black;
}

p {
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: black;
}

.font-canny-yellow {
    color: $yellow;
}

.font-canny-dark {
    color: $dark;
}

.font-canny-teal{
    color: $tertiary;
}
.canny-dark {
    background-color: $dark;
}

.canny-yellow {
    background-color: $yellow;
}

.canny-header {
    font-family: 'Fairwater Sans', 'fairwater-sans' ;
    font-weight: 500;
}

.canny-logo-serif {
    font-family: 'Fairwater Open Serif', 'fairwater-open-serif' ;
}

.canny-logo-script {
    font-family: 'Fairwater Script', 'fairwater-scriopt';
}

.canny-light {
    background-color: $light;
}

// .section-banner {
//     width: 100%;

//     div & {
//         margin-left: auto;

//         background-color: $dark;
//         margin-right: auto;
//         padding-top: var(--spacing-extra-large);
//         padding-bottom: var(--spacing-extra-large);

//         h1 & {
//             font-family: 'Fairwater Open Serif';
//             color: $yellow;
//             text-align: left;

//         }
//         p & {
//             background-color: $light;
//             font-family: 'Fairwater Open Serif';
//             color: $yellow;
//             text-align: center;

//         }
//     }
// }

.section-banner{
    font-family: 'Fairwater Open Serif', 'fairwater-open-serif';
    color: $yellow;
    text-align: left;
}

//     & {
//         margin-left: auto;
//         margin-right: auto;
//         padding-top: var(--spacing-extra-large);
//         padding-bottom: var(--spacing-extra-large);
//         // width: 100%;
//         // background-color: $dark;

//         //   &{

//         //   }  
//     }
// }

// h1.pt4.f1.canny-logo-serif.font-canny-yellow.fw5